node_modules
npm-debug.log
.env
*.webm
.sass-cache

client/build/*hot-update.js
client/build/*.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
