.user-profile-img {
  height: 200px;
}

.blur {
  color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.posted_on {
  font-size: 12px;
  font-style: italic;
}

.loading-modal {
  height: 700px;
}

.social-links {
  color: black;
}

.hideline {
  clear: both;
  visibility: hidden;
}

a {
  color: black;
}

.apply-modal {
  widht: 90%;
}

.scroll {
    background-color: black;
    color: white;
    width: 400px;
    height: 200px;
    overflow: scroll;
    text-align: center;
    border-radius: 25px;
    position: relative; 
    text-align: center;
}

.questions {
  border: 2px;
  border-color: cornflowerblue;
  margin: 30px;
}

.spaceQ {
  height: 15px
}

.company-img {
  height: 200px; 
  width: 180px;
}