.profile .profile-section {
  font-size: 20px; }

.profile .profile-info {
  margin: 10px; }

.jobpost-btn.dropdown {
  width: 120px; }

.company-nav #tabs-with-dropdown-tab-3 {
  padding-left: 30px; }

.fa {
  margin-right: 5px; }

a:hover {
  color: #333; }

.glyphicon.glyphicon-pushpin {
  position: absolute;
  margin-top: 14px;
  z-index: 1;
  margin-left: 13px; }

.background-img {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 2000px;
  width: 3000px;
  position: fixed; }

.profile {
  margin-top: 15px; }

.navbar-right .nav-item {
  font-size: 16px; }

.signup-box {
  border: 1px solid #fff;
  margin: auto;
  float: none;
  border-radius: 5px;
  position: absolute;
  height: 245px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.signup-or {
  color: #fff;
  font-size: 18px;
  font-weight: 300; }

.navbar {
  margin-bottom: 0px;
  border-radius: initial; }

.signup-box .btn-primary {
  width: 90%;
  font-size: 18px; }

.btn-container {
  margin: 35px; }

.user-profile-img {
  height: 300px; }

.blur {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.posted_on {
  font-size: 12px;
  font-style: italic; }

.loading-modal {
  height: 700px; }

.social-links {
  color: black; }

.hideline {
  margin: 5px;
  clear: both;
  visibility: hidden; }

a {
  color: black; }

.apply-modal {
  width: 90%; }

.scroll {
  background-color: #A5A5AF;
  color: white;
  width: 400px;
  height: 200px;
  overflow: scroll;
  text-align: center;
  border-radius: 25px;
  position: relative;
  text-align: center; }

.questions {
  border: 2px;
  border-color: white;
  margin: 30px;
  padding-bottom: 30px; }

.spaceQ {
  height: 15px; }

.company-img {
  height: 300px;
  width: 300px; }

.react-selectize.root-node {
  width: 100%; }

.selectedQ {
  color: white; }

.space {
  height: 50px; }

.ui.list:last-child, ol.ui.list:last-child, ul.ui.list:last-child {
  margin-top: 15px; }

.notes {
  width: 200px; }

.question {
  margin-bottom: 50px; }

canvas:nth-of-type(2) {
  position: static !important; }

.video-js {
  background-color: #fff;
  margin: 5px; }

.ace_editor {
  display: -webkit-inline-box; }

.interview-hr {
  margin-bottom: 50px; }

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px; }

#react-paginate li {
  display: inline-block; }

#react-paginate .break a {
  cursor: default; }

.notification-dismiss {
  background-color: black !important; }

.position-matchings {
  margin-top: 25px; }

.apply-now a {
  color: "#337ab7"; }

.video-js .vjs-fullscreen-control {
  display: none; }

.notesField {
  padding-bottom: 18px !important; }

.intPreviewPadd {
  padding-top: 310px; }

.intPreview {
  background-color: #57BC90;
  border-radius: 25px;
  padding: 20px;
  border: inset; }

.saveButtonForm {
  text-align: center; }

.compDetails {
  padding-left: 25px; }

.cardStyle {
  padding-top: 50px; }

.dropzone {
  padding-left: 250px; }

/*# sourceMappingURL=main.css.map */
